.player {
  position: relative;
  overflow: hidden;
}

.player__range {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  /* width: 71vw; */
  width: 90%;
  height: 480px;
  background: transparent;
}

.player__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player__range:focus {
  outline: none;
}

.player__range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.player__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 478px;
  width: 1px;
  background: red;
  cursor: pointer;
  margin-top: 0;
}

.player__range::-moz-range-thumb {
  box-shadow: 0px 0px 0px red, 0px 0px 0px red;
  border: 1px solid red;
  height: 476px;
  width: 1px;
  background: red;
  color: red;
  cursor: pointer;
}
